@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: #181616;
  --color-foreground: #c5c9c5;
  --color-selection-background: #2d4f67;
  --color-selection-foreground: #c8c093;
  --color-link: #72a7bc;
}

@utility prose-dark {
  @apply prose prose-invert;

  & > * {
    --tw-prose-body: var(--color-foreground);
    --tw-prose-headings: var(--color-foreground);
    --tw-prose-bold: var(--color-foreground);
  }
}

@font-face {
  font-family: "Hack";
  src:
    url("/fonts/hack-regular.woff") format("woff"),
    url("/fonts/hack-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

::selection {
  background-color: var(--color-selection-background);
  color: var(--color-selection-foreground);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: "Hack", monospace;
}

.link {
  font-weight: bold;
  color: var(--color-link);
}

.link:hover,
.link.active {
  background-color: var(--color-selection-background);
  color: var(--color-selection-foreground);
}
