---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
import GitHub from "../components/icons/GitHub.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import Email from "../components/icons/Email.astro";
import Twitter from "../components/icons/Twitter.astro";
---

<Layout>
  <div class="container space-y-12">
    <div class="space-y-8">
      <h1 class="space-y-4 text-4xl">
        <span class="font-bold">Hey, I'm Daniel</span>.
        <span class="block text-2xl">
          I'm a software developer from Sofia.
        </span>
      </h1>
      <div class="flex gap-4">
        <a href="mailto:me@danielbogdanov.me">
          <Email />
        </a>
        <a href="https://x.com/DanielBogdanov0">
          <Twitter />
        </a>
        <a href="https://www.linkedin.com/in/daniel-bogdanov-6958ba258/">
          <LinkedIn />
        </a>
        <a href="https://github.com/DanieII">
          <GitHub />
        </a>
      </div>
    </div>
    <Projects />
  </div>
</Layout>
