---
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
import GitHubLogo from "../assets/svg/github.svg";
import LinkedInLogo from "../assets/svg/linkedin.svg";
import EnvelopeIcon from "../assets/svg/envelope.svg";
import BulgariaTrailsImage from "../assets/images/bg-trails.webp";
import RoccoWoodworkImage from "../assets/images/rocco-woodwork.webp";
import AccountingPartnersImage from "../assets/images/accounting-partners.webp";
import PaymentServiceImage from "../assets/images/payment-service.webp";
---

<Layout>
  <div class="container">
    <div>
      <h1 class="text-4xl">
        <b>Hey, I'm Daniel.</b>
        <span class="block text-2xl text-accent-color">
          I'm a software developer from Sofia.
        </span>
      </h1>
      <div class="mt-4 flex gap-4 text-lg">
        <a
          href="https://github.com/DanieII"
          class="group flex items-center gap-1 text-secondary-color"
        >
          <GitHubLogo class="group-hover:fill-primary-color" />
          GitHub
        </a>
        <a
          href="https://www.linkedin.com/in/daniel-bogdanov-6958ba258/"
          class="group flex items-center gap-1 text-secondary-color"
        >
          <LinkedInLogo class="group-hover:fill-primary-color" />
          LinkedIn
        </a>
        <a
          href="mailto:danielbogdanov1748@gmail.com"
          class="group flex items-center gap-1 text-secondary-color"
        >
          <EnvelopeIcon class="group-hover:fill-primary-color" />
          Email
        </a>
      </div>
    </div>
    <div class="mt-16">
      <h2 class="mb-4 text-3xl">Personal Projects</h2>
      <p class="mb-8 text-xl">
        Below is a selection of projects that I've worked on. You can find more
        on my <a href="https://github.com/DanieII" class="underline">GitHub</a>.
      </p>
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
        <Project
          title="Bulgaria Trails"
          description="Explore Bulgaria's hiking trails."
          url="https://github.com/DanieII/bg-trails"
          image={BulgariaTrailsImage}
        />
        <Project
          title="Rocco Woodwork"
          description="Online shop for handmade wooden products."
          url="https://github.com/DanieII/RoccoWoodwork"
          image={RoccoWoodworkImage}
        />
        <Project
          title="Accounting Partners"
          description="Modern website for an accounting firm."
          url="https://accpartnersltd.com"
          image={AccountingPartnersImage}
        />
        <Project
          title="Payment Service"
          description="Hackaton project for a service marketplace with integrated payments."
          url="https://github.com/DanieII/Payment-Service-Solution"
          image={PaymentServiceImage}
        />
      </div>
    </div>
  </div>
</Layout>
