---
import GitHubLogo from "../assets/svg/github.svg";
import LinkedInLogo from "../assets/svg/linkedin.svg";
import EnvelopeIcon from "../assets/svg/envelope.svg";
---

<footer class="mt-auto">
  <div class="container flex !max-w-screen-md items-center justify-between">
    <p class="text-lg">&copy; Daniel Bogdanov</p>
    <div class="flex gap-4">
      <a href="https://github.com/DanieII">
        <GitHubLogo class="hover:fill-primary-color" />
      </a>
      <a href="https://www.linkedin.com/in/daniel-bogdanov-6958ba258/">
        <LinkedInLogo class="hover:fill-primary-color" />
      </a>
      <a href="mailto:danielbogdanov1748@gmail.com">
        <EnvelopeIcon class="hover:fill-primary-color" />
      </a>
    </div>
  </div>
</footer>
