---
import ThemeToggle from "./ThemeToggle.astro";
---

<nav>
  <div class="container flex justify-between">
    <a href="/" class="text-lg font-bold">DANIEL BOGDANOV</a>
    <ThemeToggle />
  </div>
</nav>
