---
import ThemeToggle from "./ThemeToggle.astro";
---

<nav>
  <div class="container flex !max-w-screen-md justify-between">
    <a href="/" class="text-lg font-bold uppercase">Daniel Bogdanov</a>
    <ThemeToggle />
  </div>
</nav>
