---
import Project from "../components/Project.astro";

const projects = [
  {
    title: "Menu Instant",
    description: "The easiest way to share your menu online",
    url: "https://menuinstant.com",
  },
  {
    title: "Instant SaaS",
    description: "Next.js starter template for SaaS applications",
    url: "https://github.com/DanieII/instant-saas",
  },
  {
    title: "Rocco Woodwork",
    description: "Online store for handmade wooden products",
    url: "https://roccowoodwork.com",
  },
  {
    title: "Accounting Partners",
    description: "Website for an accounting firm",
    url: "https://accpartnersltd.com",
  },
];
---

<div class="space-y-8">
  <h2 class="text-3xl font-bold">Projects</h2>
  <div class="grid grid-cols-1 gap-4">
    {
      projects.map((project) => (
        <Project
          title={project.title}
          description={project.description}
          url={project.url}
        />
      ))
    }
  </div>
</div>
