---
interface Props {
  title: string;
  description: string;
  url: string;
}

const { title, description, url } = Astro.props;
---

<a href={url}>
  <div class="group h-full rounded-lg bg-secondary-bg-color p-8">
    <h3 class="text-xl font-bold">{title}</h3>
    <p class="text-accent-color">{description}</p>
  </div>
</a>
