---
import Moon from "../components/icons/Moon.astro";
import Sun from "../components/icons/Sun.astro";
---

<button data-theme-toggle>
  <Moon class="hidden dark:block" />
  <Sun class="dark:hidden" />
</button>

<script>
  const themeToggleBtn = document.querySelector("[data-theme-toggle]")!;

  const setTheme = (theme: string) => {
    document.documentElement.classList.toggle("dark", theme === "dark");
    localStorage.setItem("theme", theme);
  };

  const initializeTheme = () => {
    const savedTheme = localStorage.getItem("theme");
    const prefersDark = window.matchMedia(
      "(prefers-color-scheme: dark)",
    ).matches;
    const currentTheme = savedTheme || (prefersDark ? "dark" : "light");

    setTheme(currentTheme);

    themeToggleBtn.addEventListener("click", () => {
      const currentTheme = document.documentElement.classList.contains("dark")
        ? "dark"
        : "light";
      const newTheme = currentTheme === "dark" ? "light" : "dark";
      setTheme(newTheme);
    });
  };

  initializeTheme();
</script>
