---
import Navigation from "../components/Navigation.astro";

const metaData = {
  description:
    "Software engineer and indie hacker building tools, apps, and side projects. Explore my portfolio and connect through on social media.",
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={metaData.description} />
    <meta property="og:sitename" content="Daniel Bogdanov" />
    <meta property="og:description" content={metaData.description} />
    <meta property="og:title" content="Daniel Bogdanov" />
    <title>Daniel Bogdanov</title>
  </head>
  <body
    class="bg-neutral-50 text-neutral-800 dark:bg-neutral-950 dark:text-neutral-200"
  >
    <Navigation />
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

  html {
    font-family: "Lato", serif;
  }

  .container {
    @apply mx-auto w-full max-w-screen-md px-4 py-8;
  }
</style>
